DOMAIN=ide.example.com
SESSION_SECRET=CHANGE_ME_SESSION_SECRET
WORKER_TOKEN=CHANGE_ME_WORKER_TOKEN
POSTGRES_DB=pythonide
POSTGRES_USER=pythonide
POSTGRES_PASSWORD=CHANGE_ME_LONG_RANDOM_PASSWORD
REDIS_PASSWORD=CHANGE_ME_LONG_RANDOM_PASSWORD
PACKAGE_MIRROR_URL=https://pypi.org/simple
# Set to false until the owner is bootstrapped privately.
ADMIN_AUTO_PROMOTE=false
ADMIN_USERNAME=Yun_Yan+baili20130209
